html {
  padding: 0;
}

table {
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;
border: 2px solid black;
}

td, th {
text-align: left;
padding: 8px;
}

tr:nth-child(even) {
background-color: #dddddd;
}
button {
    box-shadow: 5px 5px;
}

h1, h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
   
}

.btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 2px;
}

input {
    border: 2px solid black;
    margin-top: 5px;
    height: 1.2rem;
}

section {
    margin-top: 5px;
}
