body {
  font-family: 'Roboto', sans-serif;
  padding: 20px;
}

.text-end {
  text-align: end;
}

.contactM {
  max-width: 49vh;
  margin: auto;
}

button {
  box-shadow: 6px 6px 11px 0 rgba(0, 0, 0, 0.61);
}

tr:nth-child(even) {
  background-color: #f5f5f5;
}

h1,
h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 2px;
}

hr {
  max-width: 300px;
}

.hide-mobile {
  display: none !important;
}

@media screen and (min-width: 992px) {
  .hide-mobile {
    display: block !important;
  }
}